{% extends 'base.html' %} {% block content %}
  {% if messages %}
      {% for message in messages %}
          <div class="mb-2 alert alert-{{ message.tags }}">
              <a class="close" data-dismiss="alert">×</a>
              {{ message|safe }}
          </div>
      {% endfor %}
  {% endif %}

<div class="mx-3 mt-3">
  <h4 class="display-6 mb-5">{{list_title}}</h4>

  <div class="container">
    {% if status_list %}
    <div class="row justify-content-start mb-5 pb-3">
      <h4 class="display-6 large_font">filter by status:</h4>
      <a
        class="mt-4 mx-3 btn btn-primary"
        style="max-width:200px;"
        {%if b_type %}
          href="{% url 'list-bug-filter' slug=b_type filter='all'%}"
        {% else %}
          href="{% url 'list-bug' %}"
        {% endif %}
      >
        All
      </a>
      {% for status in status_list %}
      <a
        class="mt-4 mx-3 btn btn-primary"
        style="max-width:200px;"
        {%if b_type %}
        href="{% url 'list-bug-filter' slug=b_type filter=status.0%}"
        {% else %}
        href="{% url 'list-bug-filter' slug=status.0%}"
        {% endif %}
      >
        {{status.1}}
      </a>
      {% endfor%}
    </div>
    {% endif %} {% if bugs %}
    <div class="row justify-content-start">
      {% for bug in bugs %}
      <div class="col">
        <a
          class="btn btn-outline-success mb-5 px-5 bug_list_item_btn"
          style =  "height: 200px;
                    width: 400px;
                    text-align: left;"
          href="{% url 'detail-bug' pk=bug.pk %}"
        >
          <div class="large_font pt-4 pb-2" style="min-height:90px;">
            {{bug.title}}
          </div>
          description:&emsp;{{bug.description}} <br />
          project:&emsp;&emsp;&emsp;{{bug.project.name}}<br />
          status:&emsp;&emsp;&emsp;&ensp; {% if status_list.0.0 == bug.status%}
          {{status_list.0.1}} {% elif status_list.1.0 == bug.status%}
          {{status_list.1.1}} {% elif status_list.2.0 == bug.status%}
          {{status_list.2.1}} {% else %} {{bug.status}} {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <h5 class="mb-5">Nothing Found</h5>
  {% endif %}
</div>

{% endblock %}
