{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<div class="mx-3 mt-3">
  {% if bugs %}
  <h4 class="display-6 mb-5">Manage bugs</h4>

  <div class="container">
    <div class="row justify-content-start">
      {% for bug in bugs %}
      <div class="col">
        <a
          class="btn btn-outline-success mb-5 px-5"
          style="height: 200px; width: 400px; text-align: left"
          href="{% url 'detail-bug' pk=bug.pk %}"
        >
          <div class="large_font pt-4 pb-2" style="min-height: 90px">
            {{bug.title}}
          </div>
          description:&emsp;{{bug.description}} <br />
          project:&emsp;&emsp;&emsp;{{bug.project.name}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <h4 class="display-6 mb-5">Nothing Found</h4>
  {% endif %}
</div>

{% endblock %}
