{% extends 'base.html' %}
{% block content %}

<div class ="mx-3 mt-3">

  {% if bugs %}
    <h4>
      Bug List in Project:
    </h4>
    <br>

    {% for bug in bugs %}

      <a class="btn btn-light bg-light mb-5 px-5 pb-4 pt-4"
          style="min-width:100%; border-radius: 10px;"
            href="{% url 'detail-bug' pk=bug.pk%}">

        Bug Title: {{bug.title}} <br>
        Bug Description: {{bug.description}} <br>
        Bug Project: {{bug.project.title}}<br>

      </a>
      <br>
    {% endfor %}

  {% else %}
    <h4>
      Nothing Found.
    </h4>
  {% endif %}

</div>

{%endblock%}
