{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

  <div class="pt-4 mx-5">
    <h4 class="display-6 mb-5">{{ bug.type }} detailed information</h4>


    <h4 class="display-6 larger_font mb-4">Title - {{bug.title}}</h4>

    <h4 class="display-6 large_font mb-2">Linked to project - {{bug.project.name}}</h4>


    <h4 class="display-6 large_font mb-5">Description:  {{ bug.description }}</h4>

    <hr>

    <h4 class="display-6 large_font mb-2">Reporter:&emsp;&emsp;

    {% if moderator %}
      <a class ="btn" href="{% url 'user-detail' pk=bug.creator.user.id%}" >
        id - {{ bug.creator.user.id }}&emsp;
        name - {{ bug.creator.user.get_full_name }}
      </a>
    {% else %}
      id - {{ bug.creator.user.id }}&emsp;
      name - {{ bug.creator.user.get_full_name }}
    {% endif %}
  </h4>


  <h4 class="display-6 large_font mb-5">Assigned to:&emsp;&ensp;
      {% if bug.assigned_to and moderator %}
        <a class ="btn" href="{% url 'user-detail' pk=bug.assigned_to.user.id%}" >
          id -  {{ bug.assigned_to.user.id }}&emsp;
          name -  {{ bug.assigned_to.user.get_full_name }}
        </a>
      {% elif bug.assigned_to %}
          id -  {{ bug.assigned_to.user.id }}&emsp;
          name -  {{ bug.assigned_to.user.get_full_name }}
      {% else %}
        N/A
      {% endif %}
  </h4>


  <h4 class="display-6 large_font mb-2">Deadline:&emsp;&emsp;&emsp;&ensp;{{ bug.deadline }}</h4>
  <h4 class="display-6 large_font mb-2">Status:&emsp;&emsp;&emsp;&emsp;&ensp;{{ bug.status }}</h4>
  <h4 class="display-6 large_font mb-5">Screenshot:&emsp;&emsp;
    {% if bug.screenshot %} {{ bug.screenshot }} {% else %} N/A  {% endif %}
  </h4>

    {% if moderator %}
    <a class="btn btn-outline-info sqr_btn"
        href="{% url 'update-bug' pk=bug.uuid%}">
      Edit
    </a>

    <a class="mx-3 btn btn-outline-danger sqr_btn"
        href="{% url 'delete-bug' pk=bug.uuid%}">
      Delete
    </a>

    {% elif developer and not bug.assigned_to%}
    <a class="btn btn-outline-success sqr_btn"
        href="{% url 'assign-bug' bug_id=bug.uuid user_id=request.user.id%}">
      Add Bug to Assignment
    </a>
    {% endif %}

<hr>

  <h4 class="display-6 largee_font mb-3">Manage</h4>
  {% if moderator or cuser %}

  <h4 class="display-6 large_font mb-2">
    <form method="post">
      {% csrf_token %}
      {% for hidden_field in status_form.hidden_fields %} {{hidden_field}} {% endfor %}
      {% for field in status_form.visible_fields %}
      <div class="form-group mt-2">
        Update Status: {% render_field field class="form-control mt-2" style="max-width:200px;"%} {% if field.help_text %}
        <small class="form-text text-muted"> {{field.help_text}} </small>
        {% endif %}
      </div>
      {% endfor %}
    <button class="btn btn-outline-success mt-3 mb-4 sqr_btn" type="submit">Update</button>
  </form>
  </h4>
  {% endif %}

  <hr>
  <a class="mt-3 mb-5 btn btn-outline-dark sqr_btn"
  {% if moderator %}
      href="{% url 'detail-project' pk=bug.project.pk%}"
  {% else %}
      href="{% url 'dashboard'%}"
  {% endif %}
  >
  Go Back
  </a>

  </div>

{%endblock%}
