{% extends 'base.html' %}

{% block content %}

  <div class="pt-4 mx-5">

    <p>
      <strong>
        Type:
      </strong>
      {{ bug.type }}
      <br> <strong>
        Found in Project:
      </strong>
      {{ bug.project.title }}
      <br>
      <strong>
        Bug Name:
      </strong>
      {{ bug.name }}
      <br>
      <strong>
        Bug Description:
      </strong>
      {{ project.description }}
      <br>
      <br>
    </p>

    {% if qae %}
    <p>
      <strong>
        Reported By:
      </strong>


    <a class ="btn bnt-light" href="" >
      ID: {{ qae.user.id }};
      Name: {{ qae.user.get_full_name }}
    </a>
    {% endif %}
    {% if dev %}
    <p>
      <strong>
        Assigned To:
      </strong>
    </p>
      <a class ="btn bnt-light" href="">
        ID: {{ dev.user.id }};
        Name: {{ dev.user.get_full_name }}
      </a>
    {% endif %}
    <br>

    <p>
      <strong>
        Deadline:
      </strong>
      {{ bug.deadline }}
      <br>
      <strong>
        Screenshot:
      </strong>
      {{ bug.screenshot }}
      <br>
      <strong>
        Status:
      </strong>
      {{ bug.status }}
      <br>
    </p>

    <br>
    {% if designation == manager %}
    <a class="btn btn-dark"
        href="{% url 'dashboard' %}">
      Edit
    </a>

    <a class="btn btn-dark"
        href="{% url 'dashboard'%}">
      Delete
    </a>
    {% endif %}
    <br>
    <a class="mt-3 btn btn-light"
      {% if designation == manager or designation == qaengineer %}
          href="{% url 'detail-project' pk=bug.project.pk%}"
      {% else %}
          href="{% url 'dashboard'%}"
      {% endif %}
      >
      Go Back
      </a>
  </div>

{%endblock%}
