{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<div class="mx-3 mt-3">
  {% if project_list %}

  <h4 class="display-6 mb-5">{{list_title}}</h4>

  <div class='container'>
    <div class='row justify-content-start'>

    {% for project in project_list %}

      <div class='col'>
        <a
        class="btn btn-outline-info  mb-5  px-5 project_list"
        href="{% url 'detail-project' pk=project.id%}"
        >
          <div class="large_font pt-4 pb-2" style="min-height:90px;"> {{project.name}}</div>
        description:&emsp;&ensp;{{project.description}}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
</div>

{% else %}
<h4 class="display-6 mb-5">Nothing Found</h4>
{% endif %}

{%endblock%}
