{% extends 'base.html' %}

{% block content %}

  <div class="pt-4 mx-5">

    <p>
      <strong>
        Project Name:
      </strong>
      {{ project.name }}
      <br>
      <strong>
        Project Description:
      </strong>
      {{ project.description }}
      <br>
      <strong>
        Bugs:
      </strong>
      <br>
      <br>
      <strong>
        QAE Team on Project:
      </strong>
      {% for qae in qaes%}
        <p>Employee ID: {{ qae.user.id }}; Name: {{ qae.user.get_first_name }} {{ qae.user.get_last_name }}</p>
      {% endfor %}
      {% if not qaes %}
      None
    {% endif %}
      <br>
      <strong>
        Developers Team on Project:
        {% for dev in devs%}
          <p>{{ dev.user.id }}: {{ dev.user.get_first_name }} {{ dev.user.get_last_name }}</p>
        {% endfor %}
        </strong>
      </p>
        {% if not devs %}
          None
        {% endif %}
    <br>
    <br>
    {% if designation == 'man' %}
    <a class="btn btn-dark"
        href="{% url 'update-project' id=project.id%}">
      Edit
    </a>

    <a class="btn btn-dark"
        href="{% url 'delete-project' id=project.id%}">
      Delete
    </a>
    {% endif %}
    <br>
    <a class="mt-3 btn btn-light"
      {% if designation == 'man' or designation == 'qae'%}
          href="{% url 'list-project'%}"
      {% else %}
          href="{% url 'dashboard'%}"
      {% endif %}
      >
      Go Back
      </a>
  </div>

{%endblock%}
