<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block title %}
    <title>Bug Management System</title>
    {% endblock %} {% load static %}
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>
    <nav
      class="navbar sticky-top navbar-dark col_primary_bg"
    >

        <a class="navbar-brand mx-3" href="{% url 'dashboard' %}">
          <div class="container">
            <div class="row">
              {% if user.is_authenticated %}
              <div class="col mr_auto small_font v_bar">

                  <p class="display-7 mr_auto text_center">
                    {{user__type}}<br />{{user.get_full_name}}
                  </p>

                </div>
              {% endif%}
                <div class="col mr_auto">
                  <p  class="display-6 navbar_font_size mr_auto">BUGZILLA</p>

                </div>
            </div>
         </div>

        </a>

      <div id="navbarNav">
        <ul class="navbar-nav list-group-horizontal">
          <li class="nav-item mx-3 mr_auto">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <p class="display-7 mr_auto">DASHBOARD</p>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item mx-3 mr_auto">
            <a class="nav-link" href="{% url 'logout' %}">
              <p class="display-7 mr_auto">LOGOUT</p>
            </a>
          </li>

          {% endif%}
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}
  </body>
</html>
