{% extends 'base.html' %} {% block content%}
<br />
{% if user.is_authenticated %}
<div class="mx-4">
  <h4 class="display-6">Dashboard</h4>

  {% if user_type == manager or user.is_superuser%} {% if user.is_superuser %}
  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">Administrator Management</h5>
    <a
      class="mt-2 btn btn-outline-warning dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'admin:index' %}"
      >Admin Panel</a
    >
  </div>
  {% endif %}

  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">Employees</h5>
    <a
      class="mt-2 btn color_b_bg dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'add-user' %}"
      >Add Employee</a
    >
    {% if dev_list %}
    <a
      class="mt-2 btn  btn-outline-info dashboard_btn"
      style="margin-left: 20px"
      href="{% url 'user-list' slug=types.0.0 %}"
      >Manage Developers</a
    >
    {% endif %} {% if qae_list %}
    <a
      class="mt-2 btn btn-outline-info dashboard_btn"
      style="margin-left: 20px"
      href="{% url 'user-list' slug=types.1.0 %}"
      >Manage QAEngineers</a
    >
    {% endif %}
  </div>
  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">Projects</h5>
    <a
      class="mt-2 btn color_b_bg dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'add-project' %}"
      >Add Project</a
    ><a
      class="mt-2 btn btn-outline-primary dashboard_btn"
      style="margin-left: 20px"
      href="{% url 'list-project' %}"
      >Manage Projects</a
    >
  </div>
  {% if bugs %}
  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">Bugs and Features</h5>
    <a
      class="mt-2 btn btn-outline-warning dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'list-bug'%}"
      >Manage All</a
    >
    <a
      class="mt-2 btn btn-outline-danger dashboard_btn"
      style="margin-left: 20px"
      href="{% url 'list-bug-filter' slug='bug'%}"
      >Manage Bugs</a
    >
    <a
    class="mt-2 btn btn-outline-secondary dashboard_btn"
    style="margin-left: 20px"
    href="{% url 'list-bug-filter' slug='feature'%}"
    >Manage Features</a
  >
  </div>
  {% endif %} {% else %} {% if user_type == types.0.0%}
  <div class="mb-5">
    {% if project_name %}
    <h5 class="mt-5 display-6 large_font">Current Project</h5>
    <a
      class="mt-2 btn color_b_bg dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'detail-project' pk=project_id %}"
      >View Project
    </a>
    {% if bugs_assigned %}
      <h5 class="mt-5 display-6 large_font">Assigned Bugs/Features</h5>
      {% for bug in bugs_assigned %}
          <a
          class="btn btn-outline-danger sqr_btn pb-4 mb-4 mt-3"
          style="margin-left:50px; min-height:70px; width: 450px; text-align:left; padding-left:30px; padding-right:30px;"
          href="{% url 'detail-bug' pk=bug.uuid%}"
        >
          <div class="large_font pt-3 pb-3 px-0" >
            {{bug.title}}
          </div>
          id: &emsp;&emsp;&ensp;{{bug.uuid}}<br>
          status: &ensp;{{bug.status}}
        </a>
      {% endfor %}
      <br>
      <hr>
    {% endif %}
    {% else %}
    <h5 class="mt-5 display-6 large_font">
      Please get project assigned to you by Manager
    </h5>
    {% endif %}
  </div>

  {% elif user_type == types.1.0 %}
  <div class="mb-5">
    {% if project_name %}
    <h5 class="mt-5 display-6 large_font">Current Project</h5>
    <a
      class="mt-2 btn color_b_bg dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'detail-project' pk=project_id %}"
      >View Project
    </a>
    {% else %}
    <h5 class="mt-5 display-6 large_font">
      Please get project assigned to you by the Manager
    </h5>
    {% endif %}
  </div>
  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">View Projects</h5>
    <a
      class="mt-2 btn color_a_bg dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'list-project' %}"
      >List Projects
    </a>
  </div>

    {% if bugs %}
  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">Bugs and Features</h5>
    <a
      class="mt-2 btn btn-outline-warning dashboard_btn"
      style="margin-left: 50px"
      href="{% url 'list-bug'%}"
      >Manage All</a
    >
    <a
      class="mt-2 btn btn-outline-danger dashboard_btn"
      style="margin-left: 20px"
      href="{% url 'list-bug-filter' slug='bug'%}"
      >Manage Bugs</a
    >
    <a
    class="mt-2 btn btn-outline-secondary dashboard_btn"
    style="margin-left: 20px"
    href="{% url 'list-bug-filter' slug='feature'%}"
    >Manage Features</a
  >
  </div>
  {% endif %}
  {% else %}
  <h5 class="mt-5 display-6 large_font">
    Your user type is not handled, please log-in with another account
  </h5>
  {% endif %}
  {% endif %}


  <div class="mb-5">
    <h5 class="mt-5 display-6 large_font">Manage Profile</h5>
    <a
      class="mt-2 btn btn-success dashboard_btn"
      style="margin-left: 50px"
      href="{{user_profile.get_absolute_url}}"
      >View Profile</a
    >
  </div>

  {% else %}
  <div class="mx-5 text_center login_dash_div">
    <h5 class="display-6">Please login</h5>
    <a class="mt-4 btn btn-outline-dark sqr_btn" href="{% url 'login' %}">
      Login
    </a>
  </div>
  {% endif %} {% endblock %}
</div>
